{% extends 'layout.html' %}
{% block heading %}View Game{% endblock %}
{% block content %}

    <div class="row">
        <div class=" home-team col-6" style="text-align: center">
            <h1>Home</h1>
            <h1><a href="{{url_for('view_teams', team_id=game.home_team_id)}}">{{home_team.city}} {{home_team.nickname}}</a></h1>
        </div>
        <div class="away-team col-6" style="text-align: center">
            <h1>Away</h1>
            <h1><a href="{{url_for('view_teams', team_id=game.visitor_team_id)}}">{{away_team.city}} {{away_team.nickname}}</a></h1>
        </div>
    </div>
    <div class="row" style="text-align: center">
        <div class="home-stats col-4">
            <h1 class="home-points">{{game.pts_home}}</h1>
            <h1>{{game.ast_home}}</h1>
            <h1>{{game.reb_home}}</h1>
            <h1>{{game.fg_pct_home}}</h1>
            <h1>{{game.fg3_pct_home}}</h1>
            <h1>{{game.ft_pct_home}}</h1>

        </div>
        <div class="col-4">
            <h1>Score</h1>
            <h1>Assists</h1>
            <h1>Rebounds</h1>
            <h1>Field Goal %</h1>
            <h1>3 Point %</h1>
            <h1>Free Throw %</h1>

        </div>
        <div class="away-stats col-4">
            <h1 class="away-points">{{game.pts_away}}</h1>
            <h1>{{game.ast_away}}</h1>
            <h1>{{game.reb_away}}</h1>
            <h1>{{game.fg_pct_away}}</h1>
            <h1>{{game.fg3_pct_away}}</h1>
            <h1>{{game.ft_pct_away}}</h1>
        </div>
    </div>


{% endblock %}
